$blue: rgb(0, 140, 255);
$thick-border: 2px solid $blue;
$thin-border: 1px solid $blue;
.tile {
  border: $thin-border;
  // border-top: $thin-border;
  color: black;
  height: 40px;
  width: 40px;
  position: relative;
  &.initial {
    color: $blue;
  }
  &.incorrect {
    color: red;
  }
  &.border-left {
    border-left: $thick-border;
  }
  &.border-right {
    border-right: $thick-border;
  }
  &.border-top {
    border-top: $thick-border;
  }
  &.border-bottom {
    border-bottom: $thick-border;
  }
  &:hover {
    background: rgba(0, 140, 255, .3);
  }
}